@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>
<p>The project page.:</p>
<ul>
    <li><a href="https://github.com/123/project1">Project 1</a> - Apple juice machine.</li>
    <li><a href="https://github.com/123/project2">Project 2</a> - Orange juice machine.</li>
    <li><a href="https://github.com/123/project3">Project 3</a> - Paprika juice machine.</li>
</ul>